<?xml version="1.0" encoding="utf-8"?>
<!-- NHibernate Configuration -->
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2">
  
	<session-factory name="NHibernate.Validator.Demo">
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="connection.connection_string">
			Data Source=localhost\SQLEXPRESS;Initial Catalog=nhibernate;Integrated Security=True;Pooling=False
		</property>
		<property name="adonet.batch_size">10</property>
		<property name="show_sql">false</property>
		<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
		<property name="use_outer_join">true</property>
		<property name="command_timeout">444</property>
		<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
		<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    <property name="hbm2ddl.auto">create-drop</property>
    <mapping assembly="NHibernate.Validator.Demo.Model"/>
    
	</session-factory>
  
</hibernate-configuration>
