<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section
				name="nhv-configuration"
				type="NHibernate.Validator.Cfg.ConfigurationSectionHandler, NHibernate.Validator"
		/>
	</configSections>

	<nhv-configuration xmlns='urn:nhv-configuration-1.0'>
		<property name='constraint_validator_factory'>
			NHibernate.Validator.Demo.IoC.Windsor.WindsorConstraintValidatorFactory, NHibernate.Validator.Demo.IoC.Windsor
		</property>
	</nhv-configuration>

</configuration>